<div>
    <p>Hola sus productos son:</p>


    {{#each respuesta}}

    <p>Nombre : {{this.title}}</p>
    <p>Precio : {{this.price}}</p>
    <p>Descripcion : {{this.description}}</p>
    <p>Miniatura : {{this.thumbnail}}</p>
    <p>Stock : {{this.stock}}</p>
    <p>Codigo : {{this.code}}</p>
    <p>Categoria : {{this.category}}</p>
    <p>Estatus : {{this.status}}</p>
    <p>Id : {{this.id}}</p>

    {{/each}}

</div>